@page "/game"

<PageTitle>Game</PageTitle>

<h1>Game</h1>

<div>
    <label>
        Calculator:
    </label>
</div>
<p>Result: @result</p>

@code {
    private string result = "";
    private string input = "Please enter calculation.";

    string operators = "+-*/()";

    // private void CalculateResult(string s)
    // {
    //     // result = ResolveParanthesis(s.ToCharArray());
    //     result = "2";
    // }

    private void CalculateResult()
    {
        // result = ResolveParanthesis(s.ToCharArray());
    }
}
