@page "/"

<PageTitle>Home</PageTitle>


<div style="padding: 15px; width:1000px; display: flex; flex-flow: column wrap; background-color:lightblue; border: solid; border-color:black; border-width:5px; border-radius:15px;">
    <h1>Simon Ektjärn</h1>

    <div style="margin-top:15px;">
        <h2>About me</h2>
        My name is Simon and I am a programmer / Unity Engineer. This website serves as a portfolio for some URLs and projects that I have worked on.
    </div>
    <div style="margin-top:15px;">
        <h2>Sidebar info</h2>
        <h3>Calculator</h3>
        <p>Should be able to handle order of operations and parentheses. Does not handle excess or lack of spaces.</p>
        <h3>Kattis</h3>
        <p>Kattis includes a couple of example projects from Kattis.</p>
        <h3>Game</h3>
        <p>A small browser based game.</p>
    </div>
    <div style="margin-top:15px;">
        <h2>Links</h2>
        <p>LinkedIn: www.linkedin.com/in/simon-ektjarn</p>
        <p>GitHub: https://github.com/debarquer2</p>
    </div>
</div>
