@page "/"

<PageTitle>Home</PageTitle>

<h1>Simon Ektjärn</h1>

<div style="width:200px height:50px background-color:'red'">
    My name is Simon and I am a programmer / Unity Engineer. This website serves as a portfolio for some URLs and projects that I have worked on.
</div>
<div style="width:40% height:50px background-color:'red'">
    LinkedIn: www.linkedin.com/in/simon-ektjarn
    GitHub: https://github.com/Debarquer
</div>